.hero
    @include media-breakpoint-up(desktop)
        &:not(.hero--with-image)
            .hero-text
                margin-left: auto
                margin-right: auto
                text-align: center