$color-accent: #141d28
$color-background: #eae9de
$color-border: rgba(20, 29, 40, 0.3)

$font-sans: "Inria Sans", sans-serif
$font-serif: "Inria Serif", serif

$heading-font-family: $font-sans
$body-font-family: $font-serif

$header-background: white
$header-border-bottom-width: 0
$header-logo-height: 60px
$header-logo-height-desktop: 90px
$hero-background-color: white
$footer-color: white
$footer-background-color: $color-accent
$footer-logo-height: 100px
$footer-logo-height-desktop: 100px