.block-chapter
    &--alt_background
        background: none
        .chapter
            .rich-text
                font-size: pxToRem(28)
                line-height: 120%
                @include media-breakpoint-up(desktop)
                    font-size: pxToRem(32)